#about{
    padding: 50px 0;
    display: flex;
    margin-bottom: 150px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 60rem;
    width: 100%;
}

#about .about-header{
    margin: 40px 20px;
    font-size: 2rem;
    width: fit-content;
}
#about .about-header h2{
    text-align: left;
    margin: 20px 0 0;
}

.header-border{
    max-width: 100%;
    height: 5px;
    border-radius: 20px;
    background-color: white;
}

#about .about-container{
    width: 450px;
    margin: 0 20px;
    text-align: left;
}
#about .about-container p{
    font-size: 1.25rem;
}


#about .img-wrapper{
width: 300px;  
  height: 300px; 
  background-image: url('../../../public/images/portfolio-picture.jpg');
  background-size: 150%; 
  background-position: 75% 25%; 
  border-radius: 50%;
  background-repeat: no-repeat;
}
