.header{
    width: 100%;
    height: 150px;
    max-width: 1360px;
    position: fixed;
    background-color:rgb(47, 79, 105);
    border-radius: 0 0 10px 10px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 800;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    font-size:  1.35rem;
}
.header .name-init-container{
    margin: 0 10px;
    font-size: 1.75rem;
    
}
.header .name-init-container h4{
    font-family: 'Cedarville Cursive', cursive;
}
.header .header-item-container{
    display: flex;
    width: 100%;
    max-width: 32.5rem;
    justify-content: space-between;
    margin-right: 10px;
    font-family: 'Work Sans', sans-serif;
}
.header .header-item-container > a{
    padding: 0 10px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}
.header .header-item-container > a:hover{
    background-color:rgb(36, 54, 87);
    cursor:pointer;
    color: white;
}
