*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --maxWidth: 85rem;
  --size-5: 0.313rem;
  --size-10: 0.625rem;
  --size-12: 0.75rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-75: 4.688rem;
  --size-100: 6.25rem;
  --size-140: 8.75rem;
  --size-150: 9.375rem;
  --size-200: 12.5rem;
  --size-225: 14.063rem;
  --size-250: 15.625rem;
  --size-300: 18.75rem;
  --size-350: 21.875rem;
  --size-400: 25rem;
  --size-450: 28.125rem;
}



.App {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content:center;
  background-color:rgb(37, 52, 80);
}

@media all and (max-width: 895px){
  #intro .intro-container{
    justify-content: center;
  flex-direction: column;

  }
  #about{
    justify-content: center;
    flex-direction: column;
  }
  
  #about .about-header {
    margin: 40px auto !important;
  }

  #skills .skills-header-container{
    margin: 40px auto !important;

  }

  #skills .skills-container{
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
  #projects .project-header-container{
    margin: 40px auto !important;

}
}

@media all and (max-width: 875px){
  #projects .cards-container{
    flex-direction: column;
    align-items: center;
}
  
}